@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #858585, #c8c8c8, #ffffff);
}

#clock {
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

#clock div {
    height: 170px;
    width: 150px;
    color: #ffffff;
    display: flex;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    align-items: center;
    border-radius: 7px;
    flex-direction: column;
    letter-spacing: 3px;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.9);
}

#clock span {
    font-weight: bolder;
    font-size: 60px;
}

#clock span.time {
    font-size: 10px;
}